.git
.gitignore
.venv
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.pytest_cache/
tests/
data/
*.sqlite3
.env
.env.*
odd/
odoo_addon/
dist/
build/
*.egg-info/
Dockerfile
docker-compose.yml
.dockerignore
